/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT */

body {
  color: #444;
  font-size: 16px;
  font-size: 100%;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.container {
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 800px;
}

.example {
  padding: 2em;
  margin: 4em 0;
}

#tao p {
  font-size: 2rem;
  font-weight: 100;
}

.refresh {
  color: #444;
  padding: 1em;
  margin-top: 2em;
  display: inline-block;
}

.refresh:hover, .refresh:focus, .refresh:active {
  background: rgba(0,0,0,0.10);
}

#downloads a {
  color: #444;
  margin: 1em;
  padding: 1em;
  font-weight: 400;
  display: inline-block;
}

#downloads a:hover, #downloads a:focus, #downloads a:active {
  background: rgba(0,0,0,0.10);
}

/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}

/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 1rem;
} 

h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

h4 {
  font-weight: 400;
  margin-bottom: 1em;
}

p {
  font-weight: 300;
  margin-bottom: 1em;
}
 
a {
  font-weight: 300;
  text-decoration: none;
}

p a {
  font-weight: 400;
}

ul li {
  list-style: disc inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dt {
  color: #303030;
}

footer {
  color: #999;
  margin-top: 2rem;
  font-size: 0.75rem;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

code, pre {
  color: #222;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}